.App {
  text-align: center;
}



html,body{
  margin:0;
}

.top-left{
  display:block;
  position:absolute;
  top:-4px;
  right:3px;
}

.footer{
  justify-content: flex-end;
  display: flex;
}

.modal{
  height: 400px;
  max-height: 100%;
}


.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(200, 200, 200);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
}

